<!DOCTYPE html>
<html lang="en">
  <head>
    {{>header}}
  </head>
  <body>
    {{>navBar}}
    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-6 col-12 main_header_right">
                <figure>
                    <img src="images/about.png" alt="" class="img-fluid">
                </figure>
                </div>
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to The Weather App</p>
              <h1>I am a <span>MERN Stack Developer</span>, Youtuber and A Freelancer</h1>
              <a href="http://ghostcoder.gq"><button>About Me</button></a>
            </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>

   {{>footer}}
  </body>
</html>
